%html
  %head
    %meta{ charset: "UTF-8" }
    %link{ rel: "stylesheet", href: "/system/css/404.css" }
    %link{ rel: "icon", href: "/system/favicon.ico" }
  %body
    %h1 404
    %h2 The page you were looking for is missing...
    %h2 So instead, have a complimentary <a href="http://en.wikipedia.org/wiki/Pond_loach">Loach</a>, on the house:
    %img{ src: "/system/loach.png" }
