%h1.post_title#about_title About
%p#about_body
  Kunstformen der Technologie (Artforms in Technology), is the Blog/Portfolio of Nicholas Rakita.  
  Nicholas is an amateur programmer, artist, and photographer.  
  KDT is oriented primarily at exploring the intersection between the aforementioned three mediums.  
  When Nicholas isn't too busy writing description pages in third person about himself, he posts procedurally generated trees, high resolution photos of cantaloupes, and long winded articles about obscure programming topics.
%p#about_body
  For those who are curious, the name, Kunstformen der Technologie, is a play on the famous set of prints by Ernst Haeckel, Kunstformen der Natur.
  Haeckel, a well known German biologist, put together a volume of illustration relating to the natural world.
  The book, Kunstformen der Natur (in english: Artforms in/of Nature), contains many breathtaking prints, and I highly recommend a browse through it (<a href="http://commons.wikimedia.org/wiki/Kunstformen_der_Natur" id="about_link">link</a>).
  Just as Haeckel tried to show the beauty and order present in nature, I hope to explore similar themes in relation to technology.

%p#about_body
  Some previous blogs of mine:  
  %a#about_link{ href: "https://thecharminglens.wordpress.com/" } The Charming Lens,
  %a#about_link{ href: "http://carbonbasedartform.tumblr.com/" } Carbon Based Artforms
