%h1.post_title#about_title About
%p#about_body
  Kunstformen der Technologie (Artforms in Technology), is the Blog/Portfolio of Nicholas Rakita.  
  Nicholas is an amateur programmer, artist, and photographer.  
  KDT is oriented primarily at exploring the intersection between the aforementioned three mediums.  
  When Nicholas isn't too busy writing description pages in third person about himself, he posts procedurally generated trees, high resolution photos of cantaloupes, and long winded articles about obscure programming topics.
