%html

  %head
    %title KDT
    %link{ rel: "stylesheet", href: "/static/_system/highlight/styles/solarized_dark.css" }
    %script{ src: "/static/_system/highlight/highlight.pack.js" }
    %script hljs.initHighlightingOnLoad();
    %script{ src: "/static/_system/processing/processing.min.js" }
    %script var ADAPT_CONFIG = {path: '/static/_system/css/', dynamic: false, range: ['0px to 1300px = style_small.css','1300px = style.css']};
    %script{ src: "/static/_system/adapt/adapt.min.js" }
    
  %body
  
    .content
      = content
      - if not more_link.nil?
        %a.more_link{ href: "#{more_link}" } More
    
    .sideBar
      %img#logo{ src: "/static/_system/KDT.png", alt: "Kunstformen der Technologie" }
      %br
      %a{ href: "/home" } Home
      %br
      %a{ href: "/about" } About
      %br
      %a{ href: "/tag/code" } Code
      %br
      %a{ href: "/tag/photos" } Photos
      %br
      %a{ href: "/tag/essays" } Essays
      %br
      %a{ href: "/tag/art" } Art
      %br
