!!! XML
%rss{ version: "2.0" }
  %channel
    %title KDT
    %link http://www.kdt.io
    %description Procedurally generated trees, high resolution photos of cantaloupes, and long winded articles about obscure programming topics.
    
    =content
  
