@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Rokkitt);

.sideBar {
  position: fixed;
  top: 10%; left: 5%;
  vertical-align: middle;
  text-align: right;
  line-height:30px;
  border-right: 1px solid #bdc3c7;
  padding-right: 9px;
  z-index: 2;
}

.sideBar a {
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 18;
  color: #bdc3c7;
  transition: 0.3s;
}

.sideBar a:hover {
  color: #8b8b8b;
  transition: 0.3s;
}

.sideBar img {
  width: 85px;
  height: 85px;
}

.content {
  position: relative;
  left: 5%;
  padding-left: 130px;
  width: 75%;
  margin-top: 4%;
  margin-right: 5%;
}

.post_title {
  font-size: 2em;
  font-weight: bold;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: 'Lora', serif;
  color: #8b8b8b;
  margin-top: 10%;
  font-style: normal !important;
}

.content .date {
  font-size: 1.1em;
  font-weight: bold;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: 'Lora', serif;
  color: #8b8b8b;
}

.content canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

canvas:focus {
  outline:0 !important;
}

.content p {
  font-family: 'Lora', serif;
  font-size: 1em;
  color: #a2a2a2;
}

.content a {
  font-family: 'Lora', serif;
  color: #8b8b8b;
  text-decoration: none;
  font-style: italic;
}

.content img {
  width: 100%;
  height: auto;
  align-self: center;
  margin-bottom: 15px;
}

.post-div {
  height: 0px;
  overflow: hidden;
  margin-bottom: 70px;
}

.content .more_link {
  display: block;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Lora', serif;
  color: #a2a2a2;
  font-size: 18px;
  text-decoration: none;
}

#about_title {
  font-family: 'Rokkitt', serif;
  font-size: 30px;
  width: 700px;
  margin-top: 10%;
}

#about_body {
  font-family: 'Rokkitt', serif;
  font-size: 22px;
  width: 700px;
}

#about_link {
  font-family: 'Rokkitt', serif;
  font-size: 22px;
  text-decoration: none;
  font-style: normal;
}
